{% extends 'base.html' %}
  
{% block app_content %}


<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-white">
  <h2 class="text-center">About Us</h2>
  <h3>The word Stuplate has a broad ambition. Stuplate consists of the following : </h3>
  <br>
  <h3>Stu : Stands for Students</h3>
  <br>
  <h3>Plat : Stands for Platform</h3>
  <br>
  <h3>E : Stands for Education</h3>
  <br>
  <h3>So above description is clearly exressing that this is a platform for the student, towards the education.</h3>
  <br>
  <h3>For a student their whole life is a journey till the success. Journey to the success is not so easy, so to make the journey easier to the student, the Stuplate providing the key facility as per their needs. </h3>
  <br>
  <h3>When students goes out of home for better education, their main tager is to find the right institution, room or hostel for stauing , mess for food, etc. And it is not so easy to find the these all. But now Stuplate is providing panacea. Hence panacea means the single platform where you can search institution, hostels, room, mess and all other need for the student. Everything what a student wants, can be seen here. </h3>
</div>


{% endblock %}
