<!DOCTYPE html>

<html>

  <head>
    <title>StuplatE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      h2 {color: red;}
    </style>
  </head>

  <body style="background-color:Lavender;">

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home')}}">StuplatE</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        {% if current_user.usertype == 'Coaching' %}
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Register
              <span class="caret"></span></a> 
              <ul class="dropdown-menu">
                    <li><a href="{{ url_for('coachingregistration')}}">Register Coaching</a></li>
                    <li class="disabled"><a href="#">Register Hostels</a></li>
                    <li class="disabled"><a href="#">Register Mess</a></li>
              </ul>
            </li>
	  </ul>
        {% elif current_user.usertype == 'Admin' %}
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin 
              <span class="caret"></span></a> 
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('updateNewsFeed')}}">Add News</a></li>
                <li class="disabled"><a href="#">Update Coaching</a></li>
              </ul>
            </li>
	  </ul>
        {% endif %}

          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_anonymous %}
      	    <li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            <li class="dropdown"><a class="glyphicon glyphicon-user dropdown-toggle" data-toggle="dropdown"></a>
              <ul class="dropdown-menu">
                <li class="disabled"><a href="#">Hi, {{ current_user.username }} </a></li>
                <li class="divider"></li>
                {% if current_user.usertype == 'Coaching' %}
                  {% if current_user.coachingclass.all() != [] %}
                     <li><a href="{{ url_for('item', key=current_user.coachingclass.all()[0].coachingid ) }}">My Page</a></li>
                     <li><a href="{{ url_for('mycoaching', key=current_user.coachingclass.all()[0].coachingid ) }}">Display/Edit Data</a></li>
                  {% endif %}
                {% else %}
                   <li><a href="#">Profile</a></li>
                {% endif %}
                <li><a href="#">Detailed Information</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
       {% block container %}{% endblock %}
    </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    .fa {
      font-size: 15px;
      width: 40px;
      height: 40px;
      text-align: centre;
      margin: 15px 2px;
      text-decoration: none;
      border-radius: 50%;
      line-height: 1em;
    }


    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
    }

    .fa-google {
      background: #dd4b39;
      color: white;
    }

    .fa-youtube {
      background: #bb0000;
      color: white;
    }

    .fa-instagram {
      background: #125688;
      color: white;
    }
    </style>

    <style>
    .footer {
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      height:60px;
      background-color: black;
      color: white;
      text-align: center;
    }
    </style>
<br>
<br>
<br>
    <div class="footer">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
              <li><a href="#">About us</a></li>
            </ul>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href=" {{ url_for('contactUs') }}">Contact us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Follow us</a></li>
              <li><a href="https://www.facebook.com/stuplatepage" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-google"></a></li>
              <li><a href="#" class="fa fa-youtube"></a></li>
              <li><a href="#" class="fa fa-instagram"></a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>

  </body>

</html>
