{% extends 'bootstrap/base.html' %}

{% block title %}    
  StuplatE
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="font-size: 30px; text-decoration: none" href="{{ url_for('home')}}">StuplatE</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        {% if current_user.usertype == 'Coaching' %}
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Register
              <span class="caret"></span></a> 
              <ul class="dropdown-menu">
                    <li><a href="{{ url_for('coachingregistration')}}">Register Coaching</a></li>
                    <li class="disabled"><a href="#">Register Hostels</a></li>
                    <li class="disabled"><a href="#">Register Mess</a></li>
              </ul>
            </li>
	  </ul>
        {% elif current_user.usertype == 'Admin' %}
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin 
              <span class="caret"></span></a> 
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('updateNewsFeed')}}">Add News</a></li>
                <li><a href="{{ url_for('uploadHomeImages')}}">Update Home Images</a></li>
                <li class="disabled"><a href="#">Update Coaching</a></li>
              </ul>
            </li>
	  </ul>
        {% endif %}

          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_anonymous %}
      	    <li><a href="{{ url_for('register') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            <li class="dropdown"><a class="glyphicon glyphicon-user dropdown-toggle" data-toggle="dropdown"></a>
              <ul class="dropdown-menu">
                <li class="disabled"><a href="#">Hi, {{ current_user.username }} </a></li>
                <li class="divider"></li>
                {% if current_user.usertype == 'Coaching' %}
                  {% if current_user.coachingclass.all() != [] %}
                     <li><a href="{{ url_for('item', key=current_user.coachingclass.all()[0].coachingid ) }}">My Page</a></li>
                     <li><a href="{{ url_for('mycoaching', key=current_user.coachingclass.all()[0].coachingid ) }}">Display/Edit Data</a></li>
                  {% endif %}
                {% else %}
                   <li><a href="#">Profile</a></li>
                {% endif %}
                <li><a href="#">Detailed Information</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>

        </div><!-- /.navbar-collapse -->
    </nav>
{% endblock %}

{% block content %}
<!--
    <style type="text/css">    
      body
      {
        background-image: url('{{ url_for('static', filename='img/background.png') }}');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 100vh;
      }
    </style>
-->
    <div class="container">
       {% block app_content %}{% endblock %}
    </div>
{% block footer  %}{% include 'footer.html' %}{% endblock %}
{% endblock %}
