{% extends "base.html" %}

{% block app_content %}
    <h1>Register Coaching</h1>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<br>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item active">
      <a class="nav-link fade in active" data-toggle="tab" href="#RegisterDetails">Register Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#Uploadphotos">Upload photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#TeachersDetail">Teachers Detail</a>
    </li>
  </ul>

    <form action = "" method = "POST"
        enctype = "multipart/form-data">
  <!-- Tab panes -->
  <div class="tab-content">
    <div id="RegisterDetails" class="container tab-pane fade in active"><br>
   <div class="row">
      <div class="col-md-4">
        {{ form.hidden_tag() }}
        <p>  
            {{ form.coachingname.label }}<br>
            {{ form.coachingname(class_="form-control",size=120) }}<br>
            {% for error in form.coachingname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>  
            {{ form.coachingcontact.label }}<br>
            {{ form.coachingcontact(class_="form-control",size=120) }}<br>
            {% for error in form.coachingcontact.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>  
            {{ form.coachingemail.label }}<br>
            {{ form.coachingemail(class_="form-control",size=120) }}<br>
            {% for error in form.coachingemail.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>  
            {{ form.coachingabout.label }}<br>
            {{ form.coachingabout(class_="form-control",rows="5",size=120) }}<br>
            {% for error in form.coachingabout.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>  
            {{ form.coachingcategory.label }}<br>
            {{ form.coachingcategory(class_="form-control") }}<br>
            {% for error in form.coachingcategory.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>  
            {{ form.coachinglocation.label }}<br>
            {{ form.coachinglocation(class_="form-control") }}<br>
            {% for error in form.coachinglocation.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
      <a class="btn btn-success btnNext">Next</a>

        </div>
      </div>
    </div>
    <div id="Uploadphotos" class="container tab-pane fade"><br>
   <div class="row">
      <div class="col-md-4">
        <h1>Coaching Class Slider Images</h1>
        <input type = "file" name = "CoachingClassSliderfile1" />
        <input type = "file" name = "CoachingClassSliderfile2" />
        <input type = "file" name = "CoachingClassSliderfile3" />
        <input type = "file" name = "CoachingClassSliderfile4" />
        <input type = "file" name = "CoachingClassSliderfile5" />
        <br>
        <h1>Coaching Class Achievement Image</h1>
        <input type = "file" name = "CoachingClassAchievementfile" />
        <br>
        <h1>Coaching Class Results Images</h1>
        <input type = "file" name = "CoachingClassResultsfile" />
        <br>
      <a class="btn btn-success btnNext">Next</a>

        </div>
      </div>
    </div>
    <div id="TeachersDetail" class="container tab-pane fade"><br>
   <div class="row">
      <div class="col-md-4">
        <p>
            {{ form.teachersname.label }}<br>
            {{ form.teachersname(class_="form-control",size=120) }}<br>
            {% for error in form.teachersname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.teachersqualification.label }}<br>
            {{ form.teachersqualification(class_="form-control",size=120) }}<br>
            {% for error in form.teachersqualification.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.teacherssubject.label }}<br>
            {{ form.teacherssubject(class_="form-control",size=120) }}<br>
            {% for error in form.teacherssubject.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.teachersexperience.label }}<br>
            {{ form.teachersexperience(class_="form-control",size=120) }}<br>
            {% for error in form.teachersexperience.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.teachers_image.label }}<br>
            {{ form.teachers_image(class_="form-control") }}<br>
        </p>
        <p>{{ form.submit_teachers(class_="form-control") }}</p>
        </div>
      </div>
    </div>
  </div>

    </form>

<script>
$(document).ready(function() {
  $('.btnNext').click(function() {
    $('.nav-tabs .active').next('li').find('a').trigger('click');
  });
});
</script>

{% endblock %}


