{% extends "base.html" %}

{% block container %}
    <h1>Register Coaching Teacheres</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleCoaching.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="slideshow-container">

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>  
            {{ form.teachersname.label }}<br>
            {{ form.teachersname(size=120) }}<br>
            {% for error in form.teachersname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>  
            {{ form.teachersqualification.label }}<br>
            {{ form.teachersqualification(size=120) }}<br>
            {% for error in form.teachersqualification.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>  
            {{ form.teacherssubject.label }}<br>
            {{ form.teacherssubject(size=120) }}<br>
            {% for error in form.teacherssubject.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>  
            {{ form.teachersexperience.label }}<br>
            {{ form.teachersexperience(size=120) }}<br>
            {% for error in form.teachersexperience.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>

{% endblock %}


