{% extends 'base.html' %}
 
{% block container %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleCoaching.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="slideshow-container">

<div class="mySlides slide">
  <div class="numbertext">1 / 2</div>
  <img src="{{ url_for('static', filename = 'img/coaching_slide/coaching1.jpg') }}"  height="400" width="1000">
  <div class="text">School</div>
</div>

<div class="mySlides slide">
  <div class="numbertext">2 / 2</div>
  <img src="{{ url_for('static', filename = 'img/coaching_slide/coaching2.jpg') }}"  height="400" width="1000">
  <div class="text">Mess</div>
</div>

<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
</div>
<br>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>



<button class="tablink" onclick="openPage('Overview', this, 'DarkGray')" id="defaultOpen">Overview</button>
<button class="tablink" onclick="openPage('Course Offered', this, 'DarkGray')" >Course Offered</button>
<button class="tablink" onclick="openPage('Teacher', this, 'DarkGray')">Teacher</button>
<button class="tablink" onclick="openPage('Achievement', this, 'DarkGray')">Achievement</button>
<button class="tablink" onclick="openPage('Results', this, 'DarkGray')">Results</button>

<div id="Overview" class="tabcontent">
  <h3>Home</h3>
  <p>Home is where the heart is..</p>
</div>

<div id="Course Offered" class="tabcontent">
  <h3>Courses Offered</h3>
  <p>Some news this fine day!</p> 
</div>

<div id="Teacher" class="tabcontent">
  <h3>Contact</h3>
  <p>Get in touch, or swing by for a cup of coffee.</p>
</div>

<div id="Achievement" class="tabcontent">
  <h3>About</h3>
  <p>Who we are and what we do.</p>
</div>

<div id="Results" class="tabcontent">
  <h3>About</h3>
  <p>Who we are and what we do.</p>
</div>

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

</div>

{% endblock %}
