{% extends 'base.html' %}

{% block app_content %}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
    <div class="container" style="overflow: auto; max-height: 80vh">
      <h2>Students list:</h2>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Student ID</th>
              <th>Student Name</th>
              <th>Contact</th>
              <th>Fees Paid</th>
              <th>Tagged</th>
              <th>Print Student Details</th>
            </tr>
          </thead>
          <tbody>
              {% for coachingBatchStud in coachingBatchStudlist %}
                {% for studDet in StudentDet %}
                  {% if studDet.studentid == coachingBatchStud.student_id %}
                    <tr>
                      <td>{{ coachingBatchStud.student_id }}</td>
                      <td>{{ studDet.studentname }} 
                      <td>{{ studDet.studentcontact }} 
                      <td>{{ coachingBatchStud.CoachingPaidAmount }}</td>
                      <td>{{ coachingBatchStud.coachingTagIsActive }}</td>
                      <td><a href="{{ url_for('studentdetails', key=coachingBatchStud.id) }}">Print</a></td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
