{% extends 'base.html' %}

{% block app_content %}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
    <div class="container" style="overflow: auto; max-height: 80vh">
<h2>{{ mycoaching.coachingname }} details :</h2>
<br>

        <div class="table-responsive">
            <table class="table" id="mycoaching" style="width:100%">
                    <tr>
                        <th scope="col">Coaching id</th>
                        <td> {{ mycoaching.coachingid }} </td>
                    </tr>
                    <tr>
                        <th scope="col">Coaching Name</th>
                        <td> {{ mycoaching.coachingname }} </td>
                    </tr>
                    <tr>
                        <th scope="col">Coaching Contact</th>
                        <td> {{ mycoaching.coachingcontact }} </td>
                    </tr>
                    <tr>
                        <th scope="col">Coaching Email</th>
                        <td> {{ mycoaching.coachingemail }} </td>
                    </tr>
                    <tr>
                        <th scope="col">About</th>
                        <td> {{ mycoaching.coachingabout }} </td>
                    </tr>
                    <tr>
                        <th scope="col">Coaching Category</th>
                        <td> {{ mycoaching.coachingcategory }} </td>
                    </tr>
                    <tr>
                        <th scope="col">Location</th>          
                        <td> {{ mycoaching.coachinglocation }} </td>
                    </tr>
            </table>
        </div>
	<form>
             <button type="submit" ><a href="{{ url_for('edit_coaching', key=mycoaching.coachingid) }}">Edit</a></button>
        </form>

    </div>
{% endblock %}
