{% extends 'base.html' %}

{% block container %}
    <div class="container" style="overflow: auto; max-height: 80vh">
        <div class="table-responsive">
            <table class="table" id="mycoaching">
                <thead>
                    <tr>
                        <th scope="col">coachingname</th>
                        <th scope="col">coachingcontact</th>
                        <th scope="col">coachingemail</th>
                        <th scope="col">coachingabout</th>
                        <th scope="col">coachingcoursesoffered</th>
                        <th scope="col">coachingteachers</th>
                        <th scope="col">coachingachievement</th>
                        <th scope="col">coachingresults</th>
                        <th scope="col">coachingcategory</th>
                        <th scope="col">coachingsubcategory</th>
                        <th scope="col">coachinglocation</th>          
                    </tr>
                </thead>
                <tbody>
                    <tr id={{ mycoaching.coachingid }}>
                        <th scope="row">{{ mycoaching.coachingid }}</th>
                        <td> {{ mycoaching.coachingname }} </td>
                        <td> {{ mycoaching.coachingcontact }} </td>
                        <td> {{ mycoaching.coachingemail }} </td>
                        <td> {{ mycoaching.coachingabout }} </td>
                        <td> {{ mycoaching.coachingcoursesoffered }} </td>
                        <td> {{ mycoaching.coachingteachers }} </td>
                        <td> {{ mycoaching.coachingachievement }} </td>
                        <td> {{ mycoaching.coachingresults }} </td>
                        <td> {{ mycoaching.coachingcategory }} </td>
                        <td> {{ mycoaching.coachingsubcategory }} </td>
                        <td> {{ mycoaching.coachinglocation }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
