{% extends 'base.html' %}
 
{% block container %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
 <!--     <input class="form-control" id="myInput" type="text" placeholder="Search.."> -->
      <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Location...">


  <br>
    {% for coaching in productList %}
          <div class="well">
            <h2>
              <a href="{{ url_for('item', key=coaching.coachingid) }}">{{ coaching.coachingname }}</a>
              <ul id="coachingList"><small>
	    	<li>{{ coaching.coachingcategory }}</li>
              	<li>{{ coaching.coachinglocation }}</li>
	     </small><ul>
            </h2>
          </div>
    {% endfor %}
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<script>
   function myFunction() {
       var input, filter, ul, li, a, i, txtValue, j, u, c, k, div;
       input = document.getElementById("myInput");
       filter = input.value.toUpperCase();
       c = document.getElementsByTagName("div");
       for (k = 0; k < c.length; k++) {
       div = c[k];
       u = div.getElementsByTagName("ul");
       for (j = 0; j < u.length; j++) {
       ul=u[j];
       li = ul.getElementsByTagName("li");
       for (i = 0; i < li.length; i++) {
           a = li[1];
           txtValue = a.textContent || a.innerText;
           if (txtValue.toUpperCase().indexOf(filter) > -1) {
               li[i].style.display = "";
               div.style.display = "";
           } else {
               li[i].style.display = "none";
               div.style.display = "none";
           }
       }
       }
       }
   }
</script>
{% endblock %}
