{% extends 'base.html' %}

{% block app_content %}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
    <div class="container" style="overflow: auto; max-height: 80vh">
      <h2>Students list:</h2>
     <!-- <br>    coachingUserId = CoachingClass.query.filter_by(coachingid=str(key)).first_or_404()
     -->

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Student ID</th>
              <th>Student Name</th>
              <th>Coaching ID</th>
              <th>Batch ID</th>
              <th>Contact</th>
              <th>Subject</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Fees Paid</th>
              <th>Tagged</th>
              <th>Untag</th>
            </tr>
          </thead>
          <tbody>
            {% for studentcoachinglist in studentcoachinglists %}
              {% for studDet in StudentDet %}
                {% for coachingbatch in coachingbatches %}
                  {% if studDet.studentid == studentcoachinglist.student_id and coachingbatch.id == studentcoachinglist.CoachingBatch %}
                    <tr>
                      <td>{{ studentcoachinglist.student_id }}</td>
                      <td>{{ studDet.studentname }} 
                      <td>{{ studentcoachinglist.coaching_id }}</td>
                      <td>{{ studentcoachinglist.CoachingBatch }}</td>
                      <td>{{ studDet.studentcontact }} 
                      <td>{{ studentcoachinglist.CoachingSubject }}</td>
                      <td>{{ coachingbatch.batchstartdate }}</td>
                      <td>{{ coachingbatch.batchenddate }}</td>
                      <td>{{ studentcoachinglist.CoachingPaidAmount }}</td>
                      <td>{{ studentcoachinglist.coachingTagIsActive }}</td>
                      <td><a href="{{ url_for('studentcoachinguntag', key=studentcoachinglist.id) }}">Untag</a></td>
                    </tr>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
