<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fee Receipt</title>
<style>
 .center {
  text-align:center;
 }
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
th {
  width: 18%;
}
</style>
</head>
<body>

<h1 class="center">Stuplate</h2>
<h2 class="center">{{ current_user.coachingclass.all()[0].coachingname }}</h2>
<p class="center">{{ current_user.coachingclass.all()[0].coachingemail }}<br>
                  {{ current_user.coachingclass.all()[0].coachingcontact }}<br>
                  {{ current_user.coachingclass.all()[0].coachinglocation }}</p>
  {% for studDet in StudentDet %}

<div class="center">
  <table align="center" style="width:90%">
    <tr>
      <th>Student ID :</th>
      <td>{{ studDet.studentid }}</td>
      <th>Student Name :</th>
      <td>{{ studDet.studentname }}</td>
    </tr>
    <tr>
      <th>Student Contact:</th>
      <td>{{ studDet.studentcontact }}</td>
      <th>Student Gender:</th>
      <td>{{ studDet.studentgender }}</td>
    </tr>
    <tr>
      <th>Student Address:</th>
      <td colspan="3" style="text-align:right">{{ studDet.studentaddress }}</td>
    </tr>
  </table>
</div>

  {% endfor %}

</body>
</html>


